custom:
  message: Welcome to PCMC

management:
  endpoints:
    web:
      exposure:
        include:
        - "*"
  endpoint:
    health:
      show-details: always
    shutdown:
      enabled: true
    
